############################
# macOS
############################
.DS_Store
.AppleDouble
.LSOverride

############################
# VS Code
############################
.vscode/
.history/

############################
# Java
############################
# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# J2ME
.mtj.tmp/

############################
# Maven
############################
target/

############################
# Gradle
############################
.gradle/
build/

############################
# IntelliJ
############################
.idea/
*.iml
out/

############################
# Eclipse
############################
*.pydevproject
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp

############################
# Backup files
############################
*~
*.bak
*.tmp
*.swp